.podium {
    
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.delPodium{
    width: 50px;
    text-align: center;
}
.editPodium{
    margin: 0px -100px 0px 0px;
    width: 30px;
    text-align: center;
}
.delPodium:hover {
    cursor: pointer;
}

.editPodium:hover {
    cursor: pointer;
}