.botao {
    background-color: #f76262;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 45%;

}

.botao:hover {
    color: #ffffff;
    background-color: #c83e3e;
}