.infoJogador {
    display: flex;
    justify-content: center;
}

.nomeJogador {
    width: 300px;
    text-align: center;
}

.ptsJogador .indice {
    width: 30px;
    text-align: center;
}

h2 {
    text-align: center;
}