/*até 600PX*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Centraliza a tela inteira */
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Estiliza o container principal */
.container {
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

/* Estiliza cada aluno */
.aluno {
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
}
.aluno>h3{
  font-size: 30px;
}
.indice{
  font-size: 30px;
}

/* Responsividade */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

/*entre 601px e 1023px*/
@media(min-width: 601px) and (max-width: 1023px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .primeiros-tres{
    display: flex;
    padding-bottom: 100px;
    justify-content: space-around;
    width: 100%;
  }
  .aluno{
    flex: 1;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
  }
  .resto-dos-alunos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
